.page {
  font-family: Inter;
  height: 202.34px;
  background: rgba(247, 247, 250, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  height: Hug (80px) px;
  gap: 54px;
  opacity: 0px;
}
