<div id="about-us" class="about">
  <img src="assets/about-us/point2.svg" alt="" class="point" />
  <div class="container">
    <div class="content">
      <img
        src="assets/about-us/Deco-line.svg"
        alt=""
        srcset=""
        style="margin-bottom: 20px"
      />
      <h1
        style="
          margin-top: 0px;
          margin-bottom: 0px;
          font-family: Inter;
          font-size: 35px;
          font-weight: 400;
          line-height: 55px;
          text-align: left;
        "
      >
        Leading companies trust us
      </h1>
      <h1 style="margin-top: 0px; margin-bottom: 30px">
        <span
          style="
            margin-top: 0px;
            font-family: Inter;
            font-size: 35px;
            font-weight: 700;
            line-height: 55px;
            text-align: left;
          "
          >to develop software</span
        >
      </h1>

      <p class="text">
        We <span class="color-gradient">add development capacity</span> to tech
        teams. Our value isn’t limited to building teams but is equally
        distributed across the project lifecycle. We are a custom software
        development company that guarantees the successful delivery of your
        project.
      </p>
      <a class="link" href="#">
        <p>See more Informations</p>
        <img src="assets/about-us/arrow-right-line.svg" alt="" srcset="" />
      </a>
    </div>
    <video controls class="video">
      <source [src]="videoSrc" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>
