<header class="navbar">
  <div class="navbar-sub">
    <div class="logo">
      <img src="assets/logo/logo.svg" alt="Description of the image" />
      Ik developers
    </div>
    <div class="nav-menu">
      <a href="#about-us"> About us </a>
      <a href="#service"> Services </a>
      <a href="#"> Case Studies </a>
      <a href="#"> Blog </a>
      <a href="#"> How ot Works </a>
      <a href="#"> Hire </a>
    </div>
    <button class="gradient-button">Contact us</button>
  </div>
</header>
