<div class="home-page">
  <div class="homepage-sub">
    <div class="content">
      <h1
        style="
          margin-bottom: 0px;
          font-size: 45px;
          font-weight: 300;
          color: rgba(26, 32, 44, 1);
        "
      >
        Great <b><span class="color-gradient">Product</span></b> is
      </h1>
      <h1
        style="
          margin-top: 0px;
          font-size: 45px;
          font-weight: 300;
          color: rgba(26, 32, 44, 1);
        "
      >
        <b>built by great <span class="color-gradient">teams</span></b>
      </h1>
      <p class="content-sub">
        We help build and manage a team of world-class developers to bring your
        vision to life
      </p>
      <button class="btn-main">Let’s get started!</button>
    </div>
    <div>
      <img src="assets/home-page/hug.svg" alt="Description of the image" />
    </div>
  </div>
  <img src="assets/home-page/point.svg" class="point" />
</div>
